body{
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
}

#navbar{
    width:100%;
    height: 80px;
    display:grid;
    grid-template-columns: 130px auto auto auto;
    background-color: black;
    color:white;
    align-items: center;
    justify-content: space-around;
    
    gap:30px;
    box-sizing: border-box;
}
#navbar>div>img{
    height:100%;
    width:100%;
}
#nlogo{
    height: 70%;
}
#mnav{
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap:20px;
}
#mnav>h4{
  border-left: 2px solid red;
  padding-left: 10px;
}
#mnav>select{
    background-color: black;
    color:white;
    font-weight: bolder;
    font-size: 17px;
    border: none;

}
#deal{
    border-right: 2px solid red;
    padding-right: 10px;
}
#nfont{
    display:grid;
    grid-template-columns: auto auto auto;
    gap:20px;
}
#nfont>i{
    font-size: 20px;
    
}
#more{
    width:70px;
}
#navbar>div>input{
 width:100%;
 height: auto;
 padding: 10px;
 border-radius: 50px;
 font-size: 20px;
}
@media all and (min-width:50px) and (max-width:600px){
 #mnav>h4{
     font-size: 10px;
     padding:auto 3px;
     margin: auto 0px;
 }
 #mnav>select{
     font-size: 10px;
     margin:  auto 0px;
 }
 #nlogo{
     margin-left: 60px;
 }
}
marquee{
    color: white;
    font-size: 35px;
    font-family: sans-serif;
}
#mar2{
    margin-left: 40px;
}
#slider{
    display: grid;
    box-sizing: border-box;
    width:100%;
    height:auto;
    grid-template-columns: auto auto auto;
    position: relative;

}
#items>div{
    
    width:100%;
    height:100%;
    display:none;
}
#items>div>img{
    width:100%;
    height: 100%;
}
#prev{
    width:70px;
    height:100%;
    color: black;
    position:absolute;
    display: flex;
    align-items:center;
    font-size: 70px;
    padding: 5px;
    color:white;
    font-family:'Courier New', Courier, monospace;
}
#next{
    width:70px;
    height:100%;
    color: black;
    position:absolute;
    left:95%;
    display:flex;
    align-items: center;
    font-size: 70px;
    color:white;
    font-family: 'Courier New', Courier, monospace;
}
#items{
    width:100%;
}
.bestsellerbox{
    display:grid;
    width:95%;
    margin: auto;
    height:auto;
    grid-template-columns: 5% auto 5%;
}
.imgbox>div,.burnimgbox>div,.justimgbox>div,.watchimgbox>div,.lessimgbox>div,.wireimgbox>div{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: white;
    border-radius: 10px;
    display: none;
}
.imgbox>div>img,.burnimgbox>div>img,.justimgbox>div>img,.watchimgbox>div>img, .lessimgbox>div>img,.wireimgbox>div>img{
    background-color:silver;
    width: 100%;
    height:60%;
    border-radius: 10px 10px 0px 0px;
}
.imgbox>div>img:hover,.burnimgbox>div>img:hover,.justimgbox>div>img:hover,.watchimgbox>div>img:hover, .lessimgbox>div>img:hover,.wireimgbox>div>img:hover{
 background-color: rgb(105, 101, 101);
}
.imgbox>div>div,.imgbox>div>h3,.burnimgbox>div>div,.burnimgbox>div>h3,.justimgbox>div>div,.justimgbox>div>h3,.watchimgbox>div>div,.watchimgbox>div>h3,.lessimgbox>div>div,.lessimgbox>div>h3, .wireimgbox>div>div, .wireimgbox>div>h3{
    margin: -5px 25px;
}
.imgbox>div>div>p:first-child,.burnimgbox>div>div>p:first-child, .justimgbox>div>div>p:first-child,.watchimgbox>div>div>p:first-child,.lessimgbox>div>div>p:first-child,.wireimgbox>div>div>p:first-child{
    color:rgb(255, 57, 57);
    font-size: 20px;
}
.imgbox>div>div>p:last-child,.burnimgbox>div>div>p:last-child,.justimgbox>div>div>p:last-child,.watchimgbox>div>div>p:last-child, .lessimgbox>div>div>p:last-child,.wireimgbox>div>div>p:last-child{
    color:grey;
    margin-top: 22px;
}
.imgbox>div>ul,.burnimgbox>div>ul,.justimgbox>div>ul,.watchimgbox>div>ul,.lessimgbox>div>ul,.wireimgbox>div>ul{
    list-style-type:square;
    margin-top: -15px;
}   
.imgbox>div>div, .burnimgbox>div>div,.justimgbox>div>div,.watchimgbox>div>div,.lessimgbox>div>div, .wireimgbox>div>div{
    display:grid;
    width:40%;
    grid-template-columns: auto auto;
    gap:10px;
}
.imgbox>div>button,.burnimgbox>div>button,.justimgbox>div>button,.watchimgbox>div>button,.lessimgbox>div>button,.wireimgbox>div>button{
    margin-left: 25px;
    margin-bottom: 10px;
    color:white;
    background-color: black;
    padding :10px 30px;
    border:none;
    border-radius: 50px;
}
.imgbox,.burnimgbox,.justimgbox,.watchimgbox,.lessimgbox,.wireimgbox{
    display:grid;
    grid-template-columns: auto auto auto;
    gap:10px;
    grid-template-rows: 450px;
}
.slide{
    display:flex;
    align-items: center;
    justify-content: center;
    color: rgb(245, 60, 60);
    font-size: 60px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
}
.productheading{
    color:white;
    text-align: center;
    font-size: 50px;
}
#news-section{
    display:flex;
    flex-wrap: wrap;
    text-align: center;
    margin: auto;
    
    justify-content: center;
    color: aliceblue;
}
#news-section>div{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background-color: #f23;
    margin:10px;
}
#news-section>div>button{
  padding : 6px 20px;
  border: none;
  border-radius: 50px;
  font-family:sans-serif;
  font-weight: bolder;
  margin-bottom: 20px;
}
#news-section>div>p{
    width:300px;
    margin: auto;
    margin-bottom: 20px;
    font-size: 17px;

}

#media{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    width: 100%;
    background-color: black;
    justify-content: space-evenly;
    margin-top: 40px;
}
#media>div>img{
    height: auto;
    width:100%;
}
#news>div>img{
 height:auto;
 width:100%;
}
#last2{
    width:80%;
    margin:auto;
}
#last2>img{
    height:auto;
    width:100%;
}
#pressup{
    font-size: 30px;
    color:aliceblue;
    
}

.div2{
    background-color: rgb(26, 24, 24);
    color: white;
    height: 80px;
    display: flex;
    width: 100%;
    
    justify-content: space-evenly;
  
   }
   .img1{
    margin-top: 2%;
       height: 50px;
   }
   .d{
       display: flex;
       gap: 20px;
       margin-top: 1%;
   }

   #f1{
    display:flex;
    background-color: gray;
    padding: 20px;
    text-align: center;
    justify-content: center;
    align-items: center;
}
#f1>p{
    width:70%;
    color: lightgray;
}

#cleb{
    display:grid;
    grid-template-columns: repeat(2,1fr);
    width:100%;
    box-sizing: border-box;
    margin-top: 50px;
}
#left{
    display:flex;
    flex-direction: column;
    height:auto;
}
#kiara{
    grid-area: a;
}
#rahul{
    grid-area: b;
}
#aryan{
    grid-area: c;
}
#right{
    display: grid;
    grid-template-columns: auto auto;
 grid-template-areas: 
 "a a"
 "b c";
}
#cleb>div>div>img{
    width:100%;
    height: auto;
}
#hardik,#punj,#kiara,#rahul,#aryan{
     position:relative;
 }
 .image_overlay{
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background: rgba(0,0,0,0.6);
    color:#ffffff;
    font-family: 'Quicksand',sans-serif;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.25s;
 }
 .image_overlay--blur{
     backdrop-filter: blur(5px) ;
 }
 .image_overlay >*{
     transform: translateY(20px);
     transition: transform 0.25s;
 }
 .image_overlay:hover{
   opacity: 1;
 }
 .image_overlay:hover>*{
     transform: translateY(0);
 }
 .image_title{
     font-size:2.5em;
     font-family:sans-serif
 }
 .image_description{
     font-size:0.8 em;

     margin-top:10px;;
     padding:0px 40px;
 }
 .centered {
 position: absolute;
 top: 80%;
 left: 50%;
 transform: translate(-50%, -50%);
 font-size: 2.5em;
 color:white;
 font-family: sans-serif;
 }
 #mfooter{ 
    display:grid;
    gap:20px;
    width:90%;
    grid-template-columns: auto auto auto auto;
    margin: auto;
    color:white;
}
#ficon{
  display:grid;
  grid-template-columns: auto auto auto auto auto;
  justify-content: space-evenly;
  width:25%;
  margin-left:5%;
}
#pay{
    margin-left: 5%;
}
#ficon>i{
    color:white;
    font-size: 25px;
    margin:5px;
}
#mfooter>div>button{
    padding:4px 10px;
    border: 1px solid red;
    border-radius: 3px;
    background-color: black;
    color:aliceblue;
}
#mfooter>div>button:hover{
 background-color: red;
}

#mfooter>div>input{
    padding: 4px 10px;
    border: 1px solid grey;
    border-radius: 3px;
    background-color: black;
}

#boatBlog>a,#boatBlog{
    text-align: center;
    font-size: 50px;
    font-family: sans-serif;
    text-decoration: none;
    color:white;
}
#blogContainer{
  display:grid;
  grid-template-columns:repeat(3,26%);
  grid-template-rows:400px;
  gap:40px;
  justify-content: center;
}
#blogContainer>div{
  border:1px solid black;
}
#blogContainer>div>img{
height:auto;
width:100%;
}
#blogContainer>div>h3,#blogContainer>div>h3>a{
  font-size: 20px;
  font-family: sans-serif;
  color:white;
  text-decoration:none
}
#blogContainer>div>h3>a:hover{
  color:red
}
#blogContainer>div>button{
  border-radius: 10px;
  border-color: red;
  background-color: black;
  color:white;
  height:10%;
  width:30%
}
/* small screen */
@media all and (min-width:50px) and (max-width:380px){
    #blogContainer{
    display:grid;
    grid-template-columns: repeat(1,300px);
    grid-template-rows:repeat(3,400px);
    gap:0px
    }
}
/* medium screen */
@media all and (min-width:381px) and (max-width:800px){
    #blogContainer{
    display:grid;
    grid-template-columns: repeat(2,45%);
    grid-template-rows:repeat(2,400px);
    gap:20px
    }
}

 @media all and (min-width:50px) and (max-width:750px){
     #cleb{
         grid-template-columns: auto;
     }
 }


@media all and (min-width:650px) and (max-width:940px){
    .imgbox>div>button,.burnimgbox>div>button,.justimgbox>div>button,.watchimgbox>div>button,.lessimgbox>div>button,.wireimgbox>div>button{
        padding:2px 25px;
    }
    .imgbox>div>ul,.burnimgbox>div>ul,.justimgbox>div>ul,.watchimgbox>div>ul,.lessimgbox>div>ul,.wireimgbox>div>ul{
        font-size: 10px;
    }
    .imgbox>div>img,.burnimgbox>div>img,.justimgbox>div>img,.watchimgbox>div>img, .lessimgbox>div>img,.wireimgbox>div>img{
        height:50%;
    }
    .imgbox,.burnimgbox,.justimgbox,.watchimgbox,.lessimgbox,.wireimgbox{
       
        grid-template-rows: auto;
    }

}
@media all and (min-width:50px) and (max-width:650px){
    .imgbox,.burnimgbox,.justimgbox,.watchimgbox,.lessimgbox,.wireimgbox{
    display:grid;
    grid-template-columns: auto;
    gap:10px;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: 500px 500px;
    
}
.imgbox>div>button,.burnimgbox>div>button,.justimgbox>div>button,.watchimgbox>div>button,.lessimgbox>div>button,.wireimgbox>div>button{
    padding:2px 25px;
}
.imgbox>div>ul,.burnimgbox>div>ul,.justimgbox>div>ul,.watchimgbox>div>ul,.lessimgbox>div>ul,.wireimgbox>div>ul{
    font-size: 13px;
}
.imgbox>div,.burnimgbox>div,.justimgbox>div,.watchimgbox>div,.lessimgbox>div,.wireimgbox>div{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: white;
    border-radius: 10px;
    height:450px;
}


.productheading{
    font-size: 45px;
}

.imgbox>div>img,.burnimgbox>div>img,.justimgbox>div>img,.watchimgbox>div>img, .lessimgbox>div>img,.wireimgbox>div>img{
    height:60%;
}
.list>p{
    font-size: 10px;
}
.list>h3{
    font-size: 16px;
}

}